@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* Theme */
  --color-primary-400: #000000;
  --color-accent-100: #000000;
  --color-accent-400: #000000;
  --color-neutral-100: #FFFFFF;
  --color-neutral-450: #4D4D4D;
  --color-neutral-900: rgb(4, 1, 28);
  --color-white: var(--color-neutral-100);
  --color-black: var(--color-neutral-900);
  /* Font & Typography */
  --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-primary: var(--font-family-sans-serif);
  --font-family-body: var(--font-family-sans-serif);
  --font-family-heading: var(--font-family-sans-serif);
  --font-weight-regular: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-size-200: 0.8125rem;
  --font-size-400: 0.875rem;
  --font-size-500: 1rem;
  --font-size-600: 1.875rem;
  --font-size-700: 2.5rem;
  --font-size-800: 3.5rem;
  --font-size-body: var(--font-size-500);
  --font-size-nav: var(--font-size-500);
  --font-size-primary-heading: var(--font-size-700);
  --font-size-secondary-heading: var(--font-size-600);
  --font-size-button: var(--font-size-200);
  /* Layout */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "proxima-nova";
  src: url("/assets/font/Proxima-Nova-Regular.woff") format("woff");
}
/* Utility Classes */
.fw-regular {
  font-weight: var(--font-weight-regular);
}

.fw-semibold {
  font-weight: var(--font-weight-semibold);
}

.fw-bold {
  font-weight: var(--font-weight-bold);
}

.fs-primary-heading {
  font-size: var(--font-size-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--font-size-secondary-heading);
}

.fs-200 {
  font-size: var(--font-size-200);
}

.fs-400 {
  font-size: var(--font-size-400);
}

.fs-500 {
  font-size: var(--font-size-500);
}

.fs-600 {
  font-size: var(--font-size-600);
}

.text-primary-400 {
  color: var(--color-primary-400);
}

.text-accent-100 {
  color: var(--color-accent-100);
}

.text-accent-400 {
  color: var(--color-accent-400);
}

.text-neutral-100 {
  color: var(--color-neutral-100);
}

.text-neutral-900 {
  color: var(--color-neutral-900);
}

.background-primary-400 {
  background-color: var(--color-primary-400);
}

.background-accent-100 {
  background-color: var(--color-accent-100);
}

.background-accent-400 {
  background-color: var(--color-accent-400);
}

.background-neutral-100 {
  background-color: var(--color-neutral-100);
}

.background-neutral-900 {
  background-color: var(--color-neutral-900);
}

button {
  color: var(--color-neutral-100);
  background: var(--color-accent-400);
  padding: 1em 2.5em;
  border: 0;
  border-radius: 100vmax;
  box-shadow: 0 1em 1em -1em var(--color-accent-500);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-button);
  text-decoration: none;
  cursor: pointer;
}

.button:hover, .button:focus-visible {
  background: var(--color-accent-300);
}

.container {
  --max-width: 1080px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.card {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

@media (min-width: 50rem) {
  :root {
    --font-size-body: var(--font-size-500);
    --font-size-nav: var(--font-size-400);
    --font-size-primary-heading: var(--font-size-800);
    --font-size-secondary-heading: var(--font-size-700);
  }
}
* {
  transition: 0.3s;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--color-neutral-900);
}
body .ornament .blue-circle-light {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(100, 181, 246, 0.6) 100%);
  filter: blur(30px);
}

header nav {
  background: rgb(4, 1, 28);
  min-height: 60px;
  padding: 0 2em;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header nav .brand {
  font-size: 1.5em;
}
header nav .brand .brand-link {
  color: var(--color-white);
  text-decoration: none;
}
header nav .nav-list {
  max-height: 240px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
header nav .nav-list .nav-list-item {
  padding: 0 0.6em;
}
header nav .nav-list .nav-list-item .nav-link {
  padding: 0.6em;
  color: var(--color-neutral-450);
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}
header nav .nav-list .nav-list-item .nav-link.active,
header nav .nav-list .nav-list-item .nav-link:hover {
  color: var(--color-white);
}
header nav .cta .cta-button {
  color: var(--color-white);
  padding: 0.25em 1em;
  border: 2px solid #4CAF50;
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
header nav .cta .cta-button:hover {
  background-color: #45a049;
}
header nav .cta .cta-button:active {
  background-color: #3e8e41;
}
header nav .navbar-toggler {
  width: 30px;
  display: none;
  cursor: pointer;
}
header nav .navbar-toggler span {
  background: var(--color-white);
  width: 100%;
  height: 4px;
  margin: 5px;
  display: block;
  border-radius: 6px;
}
header nav.scrolled {
  background: rgba(4, 1, 28, 0.8);
  backdrop-filter: blur(8px);
}

main {
  display: grid;
  color: var(--color-white);
  justify-content: center;
  row-gap: 1em;
}
main section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main section .section-heading {
  margin: 1em auto;
  text-align: center;
}
main section .section-heading h2 {
  margin: 1em 0;
  font-size: var(--font-size-600);
}
main section .section-body {
  margin: 1em 0;
}
main section#hero {
  min-height: 580px;
}
main section#hero .container {
  padding: 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main section#hero .copytext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main section#hero .copytext .hero-headline {
  margin-bottom: 24px;
}
main section#hero .copytext .hero-description {
  margin-bottom: 24px;
  line-height: 1.5;
}
main section#hero .copytext .cta .cta-button {
  color: var(--color-white);
  padding: 0.25em 1em;
  border: 2px solid #4CAF50;
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
main section#hero .copytext .cta .cta-button:hover {
  background-color: #45a049;
}
main section#hero .copytext .cta .cta-button:active {
  background-color: #3e8e41;
}
main section#hero .hero-image {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
main section#feature .section-body {
  max-height: 400px;
  overflow: hidden;
}
main section#feature .section-body .feature-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#feature .section-body .feature-list .feature-list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
main section#feature .section-body .feature-list .feature-list-item .feature-details {
  background: transparent;
  color: var(--color-neutral-100);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.85em;
}
main section#feature .section-body .feature-list .feature-list-item .feature-details hr {
  width: 100%;
}
main section#feature .section-body .feature-list .feature-list-item .feature-details .feature-details-cta {
  margin: 1em 0;
  color: var(--color-neutral-450);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
main section#feature .section-body .feature-list .feature-list-item .feature-details .feature-details-cta:hover {
  color: var(--color-neutral-100);
}
main section#feature .section-body .feature-list .feature-list-item .feature-ilustration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main section#feature .section-body .feature-list .feature-list-item .feature-ilustration .feature-image {
  width: 250px;
  height: 100%;
}
main section#feature .section-body.show {
  max-height: max-content;
}
main section#service .section-body .role {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
main section#service .section-body .role .as-frontend,
main section#service .section-body .role .as-backend {
  max-width: 200px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
main section#service .section-body .role .as-frontend img,
main section#service .section-body .role .as-backend img {
  width: 100%;
  filter: blur(2px);
}
main section#service .section-body .role .as-frontend p,
main section#service .section-body .role .as-backend p {
  color: white;
  width: 100%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  top: 40%;
  text-align: center;
}
main section#service .section-body .service-container {
  text-align: center;
}
main section#service .section-body .service-container h3 {
  margin: 1em 0;
}
main section#service .section-body .service-container .tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
main section#service .section-body .service-container .tech-stack img {
  min-width: 50px;
  max-width: 200px;
  margin: 6px;
}
main section#service .section-body .service-container .service-list {
  padding: 1em;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  overflow-x: auto;
}
main section#service .section-body .service-container .service-list .service-list-item {
  flex: 1;
  padding: 1em;
}
main section#service .section-body .service-container .service-list .service-list-item .card {
  color: black;
  height: 400px;
  padding: 2em 6px;
}
main section#service .section-body .service-container .service-list .service-list-item .card .card-header {
  font-size: var(--font-size-500);
}
main section#service .section-body .service-container .service-list .service-list-item .card .card-body {
  margin: 2em 0;
  padding: 1em;
  font-size: var(--font-size-400);
  text-align: start;
}
main section#portfolio .section-body .project-category-navigation {
  padding: 1em 1em;
}
main section#portfolio .section-body .project-category-navigation .project-nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link {
  color: var(--color-neutral-450);
  text-decoration: none;
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link.active {
  color: var(--color-neutral-100);
}
main section#portfolio .section-body .project-category-navigation .project-nav-list .project-nav-list-item .project-nav-link:hover {
  color: var(--color-neutral-100);
}
main section#portfolio .section-body .portfolio-container .project-carousel {
  margin: 1em 0;
}
main section#portfolio .section-body .portfolio-container .project-carousel .project-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
main section#portfolio .section-body .portfolio-container .project-carousel .project-list .project-list-item {
  flex: 1;
  border-radius: 6px;
  overflow: hidden;
}
main section#portfolio .section-body .portfolio-container .project-carousel .project-list .project-list-item:nth-child(2) {
  flex: 2;
}
main section#contact {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section#contact .section-body {
  width: 100%;
}
main section#contact .section-body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#contact .section-body .container form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
main section#contact .section-body .container form input,
main section#contact .section-body .container form textarea {
  background: var(--color-neutral-450);
  color: var(--color-neutral-100);
  width: 100%;
  padding: 1em;
  border: 0;
  border-radius: 6px;
  resize: none;
}
main section#contact .section-body .container form input::placeholder,
main section#contact .section-body .container form textarea::placeholder {
  color: var(--color-neutral-100);
}
main section#contact .section-body .container form input:focus-visible,
main section#contact .section-body .container form textarea:focus-visible {
  outline: var(--color-neutral-100) auto 1px;
}
main section#contact .section-body .container form button {
  color: var(--color-white);
  padding: 1em 2em;
  border: 2px solid #4CAF50;
  border-radius: 100vmax;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
main section#contact .section-body .container form button:hover {
  background-color: #45a049;
}
main section#contact .section-body .container form button:active {
  background-color: #3e8e41;
}
main section#contact .section-body .container .contact-list {
  width: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .container .contact-list .contact-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .container .contact-list .contact-list-item .contact-link {
  color: var(--color-neutral-450);
  text-decoration: none;
}
main section#contact .section-body .container .contact-list .contact-list-item .contact-link:hover {
  color: var(--color-neutral-100);
  text-decoration: none;
}
main section#contact .section-body .container .social-media-list {
  width: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .container .social-media-list .social-media-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
main section#contact .section-body .container .social-media-list .social-media-list-item .social-media-link {
  color: var(--color-neutral-100);
  text-decoration: none;
}

footer {
  padding: 2em;
  border-top: 1px solid var(--color-neutral-100);
}
footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-neutral-100);
}
footer .footer-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
footer .footer-nav .nav-list .nav-list-item .nav-link {
  color: var(--color-neutral-450);
  text-decoration: none;
}
footer .footer-nav .nav-list .nav-list-item .nav-link:hover {
  color: var(--color-neutral-100);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  header nav .nav-list {
    background: var(--color-black);
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    overflow-y: auto;
  }
  header nav .nav-list .nav-list-item {
    margin: 12px 0;
  }
  header nav .nav-list.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav .navbar-toggler {
    display: block;
  }
  header .cta {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=style.css.map */