<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zigzag's Infinity Property Navbar Layout</title>
    <link rel="stylesheet" href="assets/css/navbar-layout.css">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="brand">Brand</a>
            <label class="burger-menu" for="burger-toggler">
                <input type="checkbox" id="burger-toggler"/>
                <span></span>
                <span></span>
                <span></span>
            </label>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="" class="nav-link">Halaman 1</a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">Halaman 2</a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">Halaman 3</a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">Halaman 4</a>
                </li>
                <li class="nav-list-item">
                    <a href="" class="nav-link">Halaman 5</a>
                </li>
            </ul>
        </nav>
    </header>

    <script src="assets/js/script.js"></script>
</body>
</html>