:root {
    /* Theme */
    --color-primary-400: #000000;
    --color-accent-100: #000000;
    --color-accent-400: #000000;
    --color-neutral-100: #FFFFFF;
    --color-neutral-450: #4D4D4D;
    --color-neutral-900: rgb(4, 1, 28);

    --color-white: var(--color-neutral-100);
    --color-black: var(--color-neutral-900);

    /* Font & Typography */
    --font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-family-primary: var(--font-family-sans-serif);
    --font-family-body: var(--font-family-sans-serif);
    --font-family-heading: var(--font-family-sans-serif);

    --font-weight-regular: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;

    --font-size-200: 0.8125rem;
    --font-size-400: 0.875rem;
    --font-size-500: 1rem;
    --font-size-600: 1.875rem;
    --font-size-700: 2.5rem;
    --font-size-800: 3.5rem;

    --font-size-body: var(--font-size-500);
    --font-size-nav: var(--font-size-500);
    --font-size-primary-heading: var(--font-size-700);
    --font-size-secondary-heading: var(--font-size-600);
    --font-size-button: var(--font-size-200);

    /* Layout */    
    $grid-columns: 12;
    $grid-gutter-width: 16px;
    $container-max-width: 1200px;

}